:root{
    --body-background-color: rgb(156, 148, 148);
    --nav-bar-color:  rgb(109, 79, 79);
    --footer-background-color: rgb(44, 14, 14);
}
#header-img {
    border: 1px solid black;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {border: 10px solid var(--footer-background-color);}
}
@media screen and (max-width: 850px){
    #header-img{
        animation: none;
    }
    input, select, textarea{
        width: 50%;
    }
}
body{
    background-color: var(--body-background-color);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
.nav-bar{
    background-color: var(--nav-bar-color);
    width: 100%;
    display:flex;
    position:fixed;
    top:0;
    left: 0;
}
.nav-link-active{
    background-color: var(--body-background-color);
}
a{
    text-decoration: none;
    color: black;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}
#header-img{
    margin-top: 100px;
    border-radius: 12px;
    width: 400px;
}
#header{
    text-align: center;
    margin-bottom: 150px;
}
.open-section > h2{
    text-decoration: underline;
}
.open-section{
    margin-bottom: 130px;
    margin-left: 50px;
}
#header > div{
    margin-bottom: 80px;
}
#table-of-contact{
    margin-left: 50px;
}
#contact{
    margin-top: 200px;
    background-color: var(--footer-background-color);
    color: wheat;
    width: 100%;
    left: 0;
}
#contact-section{
    margin-left: 50px;
}
.contact-list{
    padding: 10px;
    margin-top: 30px;
}
.characters {
    border-collapse: collapse;
    width: 45%;
    padding: 30px;
}
.characters tr:hover {
    background-color: #ddd;
}
  
.characters th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6d3d37;
    color: white;
}

/* styling ragnar page */

.main-ragnar-info{
    margin-top: 130px;
    margin-left: 50px;
}


/* styling lagartha page */

.main-lagartha-info{
    margin-top: 130px;
    margin-left: 50px;
}

/* styling rollo page */

.main-rollo-info{
    margin-top: 130px;
    margin-left: 50px;
}

/* styling register page */

#form{
    margin-top: 50px;
    padding: 60px;
    margin-left: 35%;
    border: solid;
    border-radius: 10px;
    background-image: url("./Vikings\ photo\ to\ form.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#form label{
    display: block;
    padding-top: 20px;
    font-weight: 750;
}
#main-register{
    margin-right: 35%;
}
#button {
    background-color: var(--footer-background-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
  }
  
#button:hover {
    background-color: rgb(85, 85, 85);
}