:root{
    --body-background-color: rgb(156, 148, 148);
    --nav-bar-color:  rgb(109, 79, 79);
    --footer-background-color: rgb(44, 14, 14);
}
body{
    background-color: var(--body-background-color);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
.nav-bar{
    background-color: var(--nav-bar-color);
    width: 100%;
    display:flex;
    position:fixed;
    top:0;
    left: 0;
}
a{
    text-decoration: none;
    color: black;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35vw;
}
#header-img{
    max-width: 330px;
    display: block;
    margin-left: 80%;
    border-radius: 12px;
    margin-top: 100px;
}
#header{
    text-align: center;
    margin-bottom: 150px;
}
.open-section > h2{
    text-decoration: underline;
}
.open-section{
    margin-bottom: 130px;
    margin-left: 50px;
}
#header > div{
    margin-bottom: 80px;
}
#table-of-contact{
    margin-left: 50px;
}
#contact{
    margin-top: 200px;
    background-color: var(--footer-background-color);
    color: wheat;
    width: 100%;
    left: 0;
}
#contact-section{
    margin-left: 50px;
}
.contact-list{
    padding: 10px;
    margin-top: 30px;
}
.characters {
    border-collapse: collapse;
    width: 25%;
    padding: 30px;
}
.characters tr:hover {
    background-color: #ddd;
}
  
.characters th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6d3d37;
    color: white;
}

/* styling ragnar page */

.main-ragnar-info{
    margin-top: 130px;;
}


/* styling lagartha page */

.main-lagartha-info{
    margin-top: 130px;;
}

/* styling rollo page */

.main-rollo-info{
    margin-top: 130px;;
}